{% extends 'base.html.twig' %}

{% block title %}
	Quiz
{% endblock %}

{% block body %}
	{% for quiz in quizz %}
		{% if quiz.approved == false %}
            <div class="container mt-5 p-5" style="width:50%">
				<div class="alert alert-danger text-center my-5 p-4">
					Ce quiz n'a pas encore été approuvé par l'administrateur.
				</div>
			</div>
        {% else %}
			<div class="container mt-5" style="width:60%">
				<h1 class="my-3">quiz de
					{{ quiz.cours.titre }}</h1>
				<div class="row alert alert-info">
					<div class="col">Nombre de questions :
						{{ quiz.quizQuestions|length }}</div>
				</div>
				<div class="m-5">
					{% for question in quiz.quizQuestions %}
						<h6 class="border p-2">{{ question.enonce }}</h6>
						<ul>
							<li>
								<strong>Réponse vraie:
								</strong>
								{{ question.choix1 }}</li>
							<li>{{ question.choix2 }}</li>
							<li>{{ question.choix3 }}</li>
							<li>{{ question.choix4 }}</li>
						</ul>
					{% endfor %}
				</div>
			</div>
		{% endif %}
		<div class="navigation flex justify-content-end my-4">
			{{ knp_pagination_render(quizz) }}
		</div>
	{% endfor %}
{% endblock %}
