{% extends "base.html.twig" %}

{% block title %}
    Mon compte
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row align-items-center" style="margin-left: 100px">
            <div class="col-3 text-center">
                <img src="{{ asset('/uploads/avatars')}}/{{ utilisateur.avatar }}" alt="Avatar de {{ utilisateur.fullName }}" class="avatar-m mt-5">
                <br>
                {% if is_granted("ROLE_FORMATEUR") %}
                    <span class="badge bg-primary p-2 mt-3">{{ utilisateur.cours | length }} cours</span>
                {% endif %}
            </div>
            <div class="col-9">
                <h1 class="mt-5">{{ utilisateur.fullName }}</h1>
				<h6>Email:</h6>
				<p>{{ utilisateur.email }}</p>
                <h6>CIN:</h6>
				<p>{{ utilisateur.cin }}</p>
                {% if utilisateur is same as(app.user) %}
                    <div class="my-3">
                        <a href="{{ path('compte_edit') }}" class="btn-pc">Modifier mon profil</a>
                        <a href="{{ path('password_edit') }}" class="btn-pc">Modifier mon mot de passe</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <hr>
        <h6>Biographie :</h6>
        <p>{{ utilisateur.biographie }}</p>
        <br>
        {% if is_granted("ROLE_FORMATEUR") %}
            <hr>
            <h2 class="text-center">Mes cours</h2>
            {% if utilisateur.cours | length > 0 %}
                <div class="row">
                    {% for cours in utilisateur.cours %}
                        {% include 'cours/_cours.html.twig' %}
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-center">Aucun cours pour le moment</p>
                <br>
                <br>
                <br>
                <br>
                <br>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}